<!doctype html>
<html>
<head>
    <title>Edit Resume</title>
</head>
<body>
    <h1>Edit Resume</h1>
    <h2><%= session.message %></h2>

    <h1><%= session.user.email %></h1>

    <form action="/resume/edit/<%= resumeId %>" method="put">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form group">
            <label>Content</label>
            <input type="text" class="form-control" name="content">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Edit</button>
    </form>
</body>
</html>