<!doctype html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <ul class="navBar">
        <li><a href = "/login">Login</a></li>
        <li><a href = "/register">Register</a></li>
    </ul>

    <p>Welcome to Kevin and Karl are Sluts, LLC!</p>
    <h2><%= message %></h2>
</body>
</html>