<!doctype html>
<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="css/index.css" type="text/css">
    </head>
    <body>
        <ul class="navBar">
            <li><a href = "/login">Login</a></li>
            <li><a href = "/register">Register</a></li>
        </ul>
        
        <h1>Homepage</h1>
        <h2><%= session.message %></h2>
    </body>
</html>