<!doctype html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <h1>Homepage</h1>
    <p>Welcome to Kevin and Karl are Sluts, LLC!</p>
    <a href="/login" class="btn btn-default">Login</a>
    <a href="/register" class="btn btn-default">Register</a>
</body>
</html>