<!doctype html>
<html>
<head>
    <title>New Resume</title>
</head>
<body>
    <ul class="navBar">
        <li><a href = "/profile">Profile</a></li>
        <li><a href = "/logout">Logout</a></li>
    </ul>

    <h1>New Resume</h1>
    <h2><%= session.message %></h2>

    <h1><%= session.user.email %></h1>

    <form action="/resume/new" method="post">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form group">
            <label>Content</label>
            <input type="text" class="form-control" name="content">
        </div>

        <button type="submit">Create</button>
    </form>
</body>
</html>