<!doctype html>
<html>
<head>
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <p>Welcome to your profile, <%= user.email %>.</p>
    <a href="/logout" class="btn btn-default">Logout</a>
</body>
</html>