<!doctype html>
<html>
<head>
    <title>Profile</title>
</head>
<body>
    <ul class="navBar">
        <li><a href = "/">Home</a></li>
        <li><a href = "/logout">Logout</a></li>
    </ul>

    <h1>Profile</h1>
    <p>Welcome to your profile, <%= user.name %>.</p>
</body>
</html>